* error constants:
equ ERROR_MALFORMED_INPUT to {{dbErrors.malformedInput.code}}
equ ERROR_UNSUPPORTED_ACTION to {{dbErrors.unsupportedAction.code}}
equ ERROR_DEPLOYMENT to {{dbErrors.deployment.code}}
equ ERROR_UDO to {{dbErrors.udo.code}}
equ ERROR_FILE_OPEN to {{dbErrors.fileOpen.code}}
equ ERROR_FILE_CREATE to {{dbErrors.fileCreate.code}}
equ ERROR_RECORD_READ to {{dbErrors.recordRead.code}}
equ ERROR_RECORD_WRITE to {{dbErrors.recordWrite.code}}
equ ERROR_RECORD_DELETE to {{dbErrors.recordDelete.code}}
equ ERROR_RECORD_NOT_FOUND to {{dbErrors.recordNotFound.code}}
equ ERROR_RECORD_VERSION to {{dbErrors.recordVersion.code}}
equ ERROR_RECORD_LOCKED to {{dbErrors.recordLocked.code}}
equ ERROR_QUERY to {{dbErrors.query.code}}
equ ERROR_DIGEST_HASH to {{dbErrors.digestHash.code}}
