* error constants:
equ ERROR_MALFORMED_INPUT to 1
equ ERROR_UNSUPPORTED_ACTION to 2
equ ERROR_FILE_OPEN to 3
equ ERROR_DEPLOYMENT to 4
equ ERROR_READ to 5
equ ERROR_WRITE to 6
equ ERROR_UDO to 7
equ ERROR_QUERY to 8
equ ERROR_FILE_CREATE to 9
equ ERROR_NOT_FOUND to 10
equ ERROR_DIGEST_HASH to 11
equ ERROR_RECORD_VERSION to 12
equ ERROR_LOCKED to 13
