subroutine error_handler(errorCode, outputHandle)

* note that this routine intentionally does not react to udo errors because it could
* potentially result in an unending sequence of errors

x = udoSetProperty(outputHandle, 'errorCode', errorCode)

return
