* UDO Status codes:
equ UDO_SUCCESS to 0
equ UDO_ERROR to -1
equ UDO_INVALIDHANDLE to -2

* UDO value types:
equ UDO_FALSE to 0
equ UDO_TRUE to 1
equ UDO_NULL to 2
equ UDO_NUMBER to 3
equ UDO_STRING to 4
equ UDO_ARRAY to 5
equ UDO_OBJECT to 6

* UDO Error codes:
equ UDOERROR_OUTOFMEMORY to 1
equ UDOERROR_INVALIDJSON to 2
equ UDOERROR_NOTSTANDALONE to 3
equ UDOERROR_NOTFOUND to 4
equ UDOERROR_INVALIDNAME to 5
equ UDOERROR_NOTANOBJECT to 6
equ UDOERROR_NOTANARRAY to 7
equ UDOERROR_INVALIDINDEX to 8
equ UDOERROR_OUTOFBOUND to 9
equ UDOERROR_INVALIDOPTION to 10
equ UDOERROR_INVALIDOPTIONVALUE to 11
equ UDOERROR_OPTIONNOTSET to 12
equ UDOERROR_INVALIDFORMAT to 13
equ UDOERROR_INVALIDVALUE to 14
equ UDOERROR_INVALIDTYPE to 15
equ UDOERROR_REFERENCECYCLE to 16
equ UDOERROR_INVALIDXML to 17
equ UDOERROR_DOMAPIFAILURE to 18

* UDO flags:
equ UDOFORMAT_JSON to 0
equ UDOFORMAT_XML to 1

* UDO options:
equ UDOOPTION_UDO2XML_XMLSTYLE to 0
equ UDOOPTION_UDO2XML_NAMESPACE to 1
equ UDOOPTION_OUTPUTMODE to 2
equ UDOOPTION_XML2UDO_INFERNUMBER to 3
equ UDOOPTION_XML2UDO_INFERBOOLEAN to 4
equ UDOOPTION_XML2UDO_INFERNULL to 5
equ UDOOPTION_XML2UDO_EMPTY2NULL to 6
equ UDOOPTION_XML2UDO_TRIMWHITESPACE to 7
equ UDOOPTION_XML2UDO_CASEINSENSITIVE to 8
equ UDOOPTION_XML2UDO_KEEPROOT to 9
equ UDOOPTION_UDO2XML_ROOTNAME to 10
equ UDOOPTION_UDO2XML_NULL2EMPTY to 11
equ UDOOPTION_UDO2XML_NAMESPACEPREFIX to 12

* UDO option values:
equ UDO_XMLSTYLE_ATTR to "ATTRIBUTE"
equ UDO_XMLSTYLE_ELEM to "ELEMENT"
equ UDO_OUTPUT_COMPACT  to "COMPACT"
equ UDO_OUTPUT_FORMATTED  to "FORMATTED"
equ UDO_OPTION_ON to "ON"
equ UDO_OPTION_OFF to "OFF"
