<?xml version="1.0" encoding="UTF-8"?>
<service
  xmlns="">
  <subroutine name="mvom_entry@{{ version }}" parameter_count="2">
    <input name="">
      <parameter name="input" order="1" type="json"/>
    </input>
    <output name="">
      <parameter name="output" order="2" type="json"/>
    </output>
  </subroutine>
</service>
