{
  "env": {
    "coverage": {
      "plugins": [
        "istanbul",
        "rewire"
      ]
    },
    "development": {
      "retainLines": true
    },
    "test": {
      "plugins": [
        "rewire"
      ],
      "retainLines": true
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    "syntax-object-rest-spread",
    "transform-class-properties"
  ]
}
