* Return values of status()

* write
equ STATUS_WRITE_SUCCESS to 0
equ STATUS_WRITE_SYSTEM_ERROR to 1
equ STATUS_WRITE_TRIGGER_CONSTRAINT to 2
equ STATUS_WRITE_TRIGGER_ERROR to 3
equ STATUS_WRITE_DUPLICATE_INDEX to 10
