subroutine mvom_setup(setupOptions, parsedSetupOptions)
{% include "../../common/mvom.njk" %}
{% include "../../constants/setup.njk" %}

* Perform any needed environment setup

S$MVOM.PROCESS = @TRUE

gosub processUserDefinedOptions

S$MVOM.REQUEST.ID = ''
if udoGetProperty(setupOptions, 'requestId', requestId, type) eq 0 then
  S$MVOM.REQUEST.ID = requestId
end

if udoGetProperty(setupOptions, 'maxReturnPayloadSize', maxReturnPayloadSize, type) then
  * Value not provided. Default to 100MB
  maxReturnPayloadSize = 100000000
end

parsedSetupOptions<MAX_RETURN_PAYLOAD_SIZE_POS> = maxReturnPayloadSize

returnFromSub:
return; * returning to caller

processUserDefinedOptions: * process user defined options
if udoGetProperty(setupOptions, 'userDefined', userDefined, type) then
  return
end

if udoGetProperty(userDefined, 'option1', userDefined1, type) eq 0 then
  S$MVOM.USER1 = userDefined1
end

if udoGetProperty(userDefined, 'option2', userDefined2, type) eq 0 then
  S$MVOM.USER2 = userDefined2
end

if udoGetProperty(userDefined, 'option3', userDefined3, type) eq 0 then
  S$MVOM.USER3 = userDefined3
end

if udoGetProperty(userDefined, 'option4', userDefined4, type) eq 0 then
  S$MVOM.USER4 = userDefined4
end

if udoGetProperty(userDefined, 'option5', userDefined5, type) eq 0 then
  S$MVOM.USER5 = userDefined5
end

return
